<a href="https://colab.research.google.com/github/Gauranshverma/Assignment-1-2025/blob/main/car_accuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cars = pd.read_csv('car.csv')
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
cars.shape

(4340, 8)

In [5]:
cars.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [7]:
cars.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [10]:
cars.owner=le.fit_transform(cars.owner)

In [11]:
cars.fuel=le.fit_transform(cars.fuel)

In [12]:
cars.seller_type=le.fit_transform(cars.seller_type)

In [13]:
cars.transmission=le.fit_transform(cars.transmission)

In [14]:
y=cars['selling_price']
X=cars[[ 'year',  'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [22]:
y_pred=lm.predict(X_test)

In [23]:
y_pred[0:5]

array([ 513279.12065597,  464982.76745924, -160212.40424116,
        434247.23621337,  420828.10390688])

In [26]:
from sklearn.metrics import mean_squared_error

In [25]:
mean_squared_error(y_test,y_pred)

181402891108.73926

In [27]:
lm.intercept_

-72956721.64758658

In [28]:
lm.coef_

array([ 3.70435628e+04, -9.18119550e-01, -9.11469052e+04, -2.28590045e+04,
       -8.85444869e+05, -1.73216826e+04])