In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
car=pd.read_csv('/content/drive/MyDrive/CAR DETAILS FROM CAR DEKHO.csv')

In [4]:
car.head(15)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petrol,2014,240000,60000,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000,35000,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000,100000,Petrol,Individual,Manual,First Owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000,25000,Petrol,Dealer,Automatic,First Owner
13,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
leb=LabelEncoder()

In [7]:
car.fuel=leb.fit_transform(car.fuel)
car.seller_type = leb.fit_transform(car.seller_type)
car.transmission = leb.fit_transform(car.transmission)
car.owner = leb.fit_transform(car.owner)
car.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,4,1,1,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,4,1,1,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,1,1,0
3,Datsun RediGO T Option,2017,250000,46000,4,1,1,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,1,1,2

In [9]:

y=car[['selling_price']]

In [10]:

x=car[['km_driven','fuel','seller_type','transmission','owner']]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = 0.3)

In [14]:
ln=LinearRegression()

In [15]:
ln.fit(x_train,y_train)
reg_pred=ln.predict(x_test)

In [16]:
reg_pred

array([[328758.80464197],
       [372583.19793581],
       [188540.16682968],
       ...,
       [389131.14292171],
       [568525.79463894],
       [503876.07559468]])

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_squared_error(y_test,reg_pred)

233313860881.43182